/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "SPLIT_DATA_CONFIG" {
        publishDir = [
            path: { "${params.outdir}/configs" },
            mode: params.publish_dir_mode
        ]
    }

    withName: "STIMULUS_SPLIT_DATA" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "STIMULUS_TRANSFORM_CSV" {
        publishDir = [
            path: { "${params.outdir}/data" },
            mode: params.publish_dir_mode,
            when: params.save_data
        ]
    }

    withName: "CHECK_MODEL" {
        ext.args = { [ 
            params.check_model_num_samples ? "-n ${params.check_model_num_samples}" : '',
            params.debug_mode ? "--debug_mode" : ''
        ].flatten().unique(false).join(' ').trim()}
    }

    withName: "STIMULUS_TUNE" {
        ext.args = { [
            params.debug_mode ? "--debug_mode" : ''
        ].flatten().unique(false).join(' ').trim()}
        publishDir = [
            path: { "${params.outdir}/tune_results/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }
}

