// for now it needs either crg config or local config to be given by the user
// TODO make this config stand alone. No need for other configs.

stubRun = true

params {
    config_profile_name        = 'Test stub profile'
    config_profile_description = 'stub run to check pipeline function'

    // Input data
    data         = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/deepmodeloptim/testdata/titanic/titanic_stimulus.csv"
    data_config  = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/deepmodeloptim/testdata/titanic/titanic.yaml"
    model        = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/deepmodeloptim/testdata/titanic/titanic_model.py"
    model_config = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/deepmodeloptim/testdata/titanic/titanic_model_cpu.yaml"

}

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 2,
        memory: 6.GB,
        time: 6.h
    ]
    container = 'quay.io/biocontainers/gawk:5.1.0'
}
